!!!
%html
  %head
    %title Chabzportfolio
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .main-container
      .bg-underlay
      .bg-overlay
      .main-nav
        .shout-out
          %p.large Hi!
          %p.name I'm Charles Darwin Pobre
          %p.desc I conjure Web apps using Ruby and Javascript as my armament.
        .main-nav-container
          .nav
            .nav-item
              %span.icon-home
              = link_to "Home", "#"
            .nav-item
              %span.icon-quill
              = link_to "Resume", "#"
            .nav-item
              %span.icon-stack
              = link_to "Work", "#"
      .colored-border
        .alpha
        .beta
        .giga
        .hexa
      .main-content-wrapper
        .main-content
          = yield
